<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='admin.css')}}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="{{url_for('static',filename='admin.js')}}"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <header>Election Schedule</header>
      <h3>Election Start time : {{election_details[1]}}</h3>
      <h3>Election End time : {{election_details[2]}}</h3>
      <div class="footer"><button>Modify Schedule</button></div>
    </div>
    {% for position,candidates in packed%}
    <div class="wrapper">
      <header>{{position[0]}}</header>
      <div class="inputField">
        <input type="text" placeholder="Add new candidates here" />
        <button><i class="fas fa-plus"></i></button>
      </div>
      <ul class="todoList">
        {% for candidate in candidates%}
        <li>
          {{candidate[0]}}<span class="icon"><i class="fas fa-trash"></i></span>
        </li>
        {%endfor%}
      </ul>
      <div class="footer">
        <span
          >These are the <span class="pendingTasks"></span> candidates
        </span>
        <button>Clear All</button>
      </div>
    </div>
    {%endfor %}
  </body>
</html>
