<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAC Election Portal</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}" />
    <script src="{{url_for('static',filename='index.js')}}"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="heading nav_heading">
        <img
          width="80"
          height="80"
          src="{{url_for('static',filename='resources/logo.png')}}"
        />
        <h1>SAC Election Portal</h1>
      </div>
    </div>
    <div class="container">
      <div class="description">
        <h2>Welcome to the SAC Election Portal Web Application</h2>
        <p>
          Please change your password to continue. For obvious reasons, your
          password cannot be a part of your username.
        </p>
      </div>
      <form
        action="/password/"
        method="post"
        onsubmit="return handleClick()"
        class="login_form"
      >
        <h3>Enter new password</h3>
        <input
          type="password"
          placeholder="Enter new password"
          name="password"
          id="password"
        />
        <input
          type="password"
          placeholder="Confirm new password"
          name="confirm_password"
          id="password"
        />

        <input type="submit" value="Submit" class="submit" id="submit" />
        <div class="comment" id="comment">{{message}}</div>
      </form>
    </div>
  </body>
</html>
