<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='election.css')}}"
    />
     <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}" />
    <title>Election</title>
  </head>
  <body>
    <div class="navbar">
      <div class="heading nav_heading">
        <img
          width="80"
          height="80"
          src="{{url_for('static',filename='resources/logo.png')}}"
          alt=""
          srcset=""
        />
        <h1 style="font-family: 'Times New Roman', Times, serif;font-size: 64px;font-weight: 800;">
          SAC Election Portal
        </h1>
      </div>
    </div>
    {%if election_id == -1 %}
    <form class="box" 
    
    action="/admin/"
    
    
    method="POST">
    {%else%}
    <form class="box" 
    
    action="/election/{{election_id}}"
    onsubmit="return validateForm()"
    
    method="POST">
    {%endif%}
      {% if election_id == -1 %}
      <h1>SCHEDULE AN ELECTION</h1>
      {% else %}
      <h1>Modify Schedule</h1>
      {%endif%}
      <div class="form-element">
      <label for="Startdate" class="form-label"> Start Time : </label></h3>

      <input
        name="start"
        class="form-control-sm"
        type="datetime-local"
        min="{{min}}"
        value="{{election_details[1]}}"
      />

    </div >
      <br />
      <div class="form-element" >
      <label for="Enddate" class="form-label"> End Time : </label>
        
      <input
        name="end"
        class="form-control-sm"
        type="datetime-local"
        min="{{min}}"
        value="{{election_details[2]}}"
      />
    </div>
      <br />
      {% if election_id == -1 %}
      <button class="btn btn-primary ">Schedule</button>
      {% else %}
      <button class="btn btn-primary">Save</button>
      {%endif%}
    </form>
  
  </body>
  <script>
    function validateForm() {
      if (document.selectElementsByName("start")[0].value >= document.selectElementsByName("end")[0].value) {
        alert("Election ends before it starts what?");
        return false;
      }
      return true;
    }
  </script>
</html>
