<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAC Election Portal</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}" />
    <script src="{{url_for('static',filename='index.js')}}"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="heading nav_heading">
        <img
          width="80"
          height="80"
          src="{{url_for('static',filename='resources/logo.png')}}"
          alt=""
          srcset=""
        />
        <h1>SAC Election Portal</h1>
      </div>
      {% if not election%}
      <form action="/results/" method ="post" id="form1" style="margin:0px 0px;width:150px;min-height:20px;height:30px;">
      <button type= "submit" form ="form1" style="background:transparent;border:0px;width:250px">
      <div class="heading nav_heading result">
        <h1 style="color: #dbedf3; font-size: 42px">
          Results<span class="material-icons" style="margin-left: 5px">
            plagiarism
          </span>
        </h1>
      </div>
    </button>
    </form>
      {%endif%}
    </div>
    <div class="container">
      <div class="description">
        <h2>Welcome to our app!!</h2>
        <p>
          You can get started by entering your email and your password. By
          default the password is your roll number.
        </p>
      </div>
      <form action="/login/" method="post" onsubmit="return handleClick()" class="login_form">
        <h3>Login To Your Account</h3>
        <input
          type="email"
          placeholder="Enter Your Email Here"
          name="email"
          id="email"
        />
        <input
          type="text"
          placeholder="Enter Your Password Here"
          name="password"
          id="password"
        />

        <input type="submit" value="Submit" class="submit" id="submit" />
        <div class="comment" id="comment">{{message}}</div>
      </form>
    </div>
  </body>
</html>
