html,body {
    background-color: #111;
    scroll-behavior: smooth;
  }
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }



  table{
    background-color:black;
  }
  
  .post_outer_container {
    background-color: #111;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .post_inner_container {
    /* overflow: scroll; */
    width: 700px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  * {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }
  
  
  .poster_name {
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    color: rgb(193, 240, 240);
    margin-bottom: 10px;
  }
  
  .likes:hover {
    transition: 0.5s;
    color: red;
    text-shadow: 0px 0px 10px rgb(255, 0, 0), 0px 0px 10px rgb(255, 0, 0),
      0px 0px 10px rgb(255, 0, 0);
  }
  .glow_green:hover {
    transition: 0.5s;
    color: rgb(45, 201, 25);
    text-shadow: 0px 0px 10px rgb(45, 201, 25), 0px 0px 10px rgb(45, 201, 25),
      0px 0px 10px rgb(45, 201, 25);
  }
  .glow_blue:hover {
    transition: 0.5s;
    color: rgb(24, 151, 224);
    text-shadow: 0px 0px 10px rgb(24, 151, 224), 0px 0px 10px rgb(24, 151, 224),
      0px 0px 10px rgb(24, 151, 224);
  }
  
  .text_glow {
    color: red;
    transition: 0.5s;
    text-shadow: 0px 0px 10px rgb(255, 0, 0), 0px 0px 10px rgb(255, 0, 0),
      0px 0px 10px rgb(255, 0, 0);
  }
  
  
  .other_profile {
    color: #dbedf3;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    background-color: #00818a;
  
    margin-bottom: 5%;
    box-shadow: 1px 3px #fff;
    /* width: 660px;
    margin-left: auto;
    margin-right: auto; */
  }
  
  
  .other_profile > h1 {
    font-size: 3rem;
  }
  .material-icons-outlined {
    font-size: 40px;
  }
  .menu_icon {
    display: none;
  }
  .My_profile {
    font-size: 3rem;
    color: #e5e5e5;
    position: fixed;
    left: 1%;
    top: 3%;
  }
  .My_profile:hover,
  .poster_name:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  a {
    text-decoration: none;
    color: #dbedf3;
  }
  a:hover {
    text-decoration: none;
    color: #fff;
  }
  .back-to-top {
    display: none;
    color: #dbedf3;
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 2;
  }
  
  @media (min-width: 360px) and (max-width: 812px) {
    .post_inner_container {
      width: 95%;
    }
  
    .other_profile {
      height: 100px;
    }
  
    .other_profile > h1 {
      font-size: 25px;
    }
  
    .non_menu_icons {
      transition: 1s;
  
      display: none;
    }
  
    .menu_active {
      transition: 1s;
  
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 115px;
      right: -50px;
      animation: ani 1s ease-in-out forwards;
      background-color: black;
      border: 1px solid grey;
      border-radius: 30px;
      padding: 10px 5px;
      margin: 1px 1px;
      z-index: 2;
    }
  
    @keyframes ani {
      0% {
        right: -50px;
      }
      100% {
        right: 3vw;
      }
    }
    @keyframes ani2 {
      0% {
        right: 3vw
      }
      100% {
        right: -50px;
      }
    }
    .menu_icon {
      display: block;
      transition: all 0.3s linear;
    }
  
    .post {
      width: 100%;
    }
  
    .post_writing {
      width: 100%;
    }
  }
  .sorting {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: #00818a;
    padding-bottom: 9px;
  }
  .sorting > h3 {
    display: block;
  }
  .order_links:hover {
    cursor: pointer;
    color: #05b8c5;
  }